<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.setine.mybatis.instancecontent.InstanceContentMapper">

	<resultMap type="InstanceContent" id="InstanceContentResultMap">
		<result property="_key" column="key" />
		<result property="_value" column="value" />
		<result property="_value_c" column="value_c" />
		<result property="_ins_name" column="ins_name" />
		<result property="_instancecontent_key" column="instancecontent_key" />
	</resultMap>

	<select id="getList" resultMap="InstanceContentResultMap">
		SELECT * FROM `instancecontent_custom`;
	</select>
</mapper>
